[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kfda"]
	path = kfda
	url = https://github.com/cran/kfda
[submodule "matrixProfile"]
	path = matrixProfile
	url = https://github.com/cran/matrixProfile
[submodule "pasadr"]
	path = pasadr
	url = https://github.com/ainsuotain/pasadr
